.detail-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-detail-container img {
  width: 200px;
}
.berrys-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}